
$primario: rgb(74, 5, 158);

$secundario: rgb(186, 99, 217);
$blanco: white;
$negro: rgb(15, 0, 21);
$transition: all .3s;
$altura-section: 600px;
$ancho-main: 72%;
$altura-ig: 550px;
$ancho-ig: 50%;
$ancho-article: 40%;
$ancho-menu: 50%;
$margin-top-article: 5em;

$gradiente-primario: linear-gradient(62deg, #dcb8fd 30%, #f6aff6 100%);
$gradiente-invertido: linear-gradient(62deg, #f6aff6 0%, #dcb8fd 100%);
$gradiente-oscuro: linear-gradient(62deg, #975197 0%, rgb(121, 43, 139) 100%);

$colorcito: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);

@mixin borde($color: $negro) {
    $borde: 3px solid $color;
    border: $borde;
}
